.color-option{
    padding: 20px;
   height: 20px;
   width: 20px;
   background-color: antiquewhite;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}