*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.emoji-con{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
 border-radius: 10px; 
    box-shadow: 0 0 10px 0px black;
    margin: 10px auto;
    font-size: 20px;
}
.emojiPicker{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 8px 0px black;
    border-radius: 10px; ;
  padding: 10px;
   margin: 0 auto; 
}
.range-con{
    margin: auto;
    width: 200px;
    padding: 10px;
}
.color-picker{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  box-shadow: 0 0 5px 2px black;
  padding: 10px;
  margin: 0 auto;
}
.rotate-btn{
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
    width:100px;
    margin: 10px;
    background-color: lightgray;
    border: none;
    box-shadow: 0 0 5px 2px gray;
    font-weight: bold;
    border-radius: 10px;


}
